<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" >
                    <form class="form-horizontal m-t" id="signupForm">
                        <!---->
                        <input id="id" name="id" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <select id="stuId" name="stuId" class="form-control" required>
                                    <option value="">请选择</option>
                                    <option th:each="list:${peo}" th:value="${list.stuId}" th:text="${list.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">入校时间：</label>
                            <div class="col-sm-8">
                                <input id="inTime" name="inTime" value="" class="form-control" type="datetime-local" step="1" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">预计离校时间：</label>
                            <div class="col-sm-8">
                                <input id="outTime" name="outTime" class="form-control" type="datetime-local" step="1" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/student/schoolpersonnel/add.js">
</script>
</body>
</html>
