<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${per.id}"
                               type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" th:value="${per.name}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">入校时间：</label>
                            <div class="col-sm-8">
                                <input id="inTime" name="inTime" th:value="${per.inTime}"
                                       class="form-control" type="datetime-local" step="1" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">预计离校时间：</label>
                            <div class="col-sm-8">
                                <input id="outTime" name="outTime" th:value="${per.outTime}"
                                       class="form-control" type="datetime-local" step="1" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">目前状态：</label>
                            <div class="col-sm-8">
                                <input id="stateName" name="stateName" th:value="${per.stateName}"
                                       class="form-control" type="text" readonly>
                            </div>
                        </div>
                        <!--
                            记得添加CheckBox标签->hobby
                         -->
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/student/schoolpersonnel/edit.js">
</script>
</body>
</html>
