<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.student.schoolpersonnel.dao.PersonnelInformationDao">
    <insert id="save" parameterType="com.bootdo.student.schoolpersonnel.pojo.PersonnelInformation" useGeneratedKeys="true" keyProperty="id">
        insert into sch_personnel_information
        (`name`,
         `nature`,
         `healthy`,
         `address`,
         `in_time`,
         `out_time`,
         `create_by`,
         `create_time`
         )
        values
        (
        #{name},
        #{nature},
        #{healthy},
        #{address},
        #{inTime},
        #{outTime},
        #{createBy},
        #{createTime}
        )
    </insert>

    <select id="list" resultType="com.bootdo.student.schoolpersonnel.pojo.PersonnelInformation">
        select *
        from sch_personnel_information
        where deleted = 0
        <where>
            <if test="name != null and name != ''">
             and name like concat('%',#{name},'%')
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
</mapper>