<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bootdo.student.school.dao.SchDao">

	<select id="get" resultType="com.bootdo.student.school.pojo.SchoolDO">
		select *
		from sys_school where sch_id = #{value}
	</select>
	
	<select id="list" resultType="com.bootdo.student.school.pojo.SchoolDO">
		select 
		*
		from sys_school
		<where>
			<if test="schId != null and schId != ''"> and sch_id = #{schId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="schName != null and schName != ''"> and sch_name = #{schName} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by sch_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="count" resultType="int">
		select count(*) from sys_school
		<where>
			<if test="schId != null and schId != ''"> and sch_id = #{schId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="schName != null and schName != ''"> and sch_name = #{schName} </if>
		</where>
	</select>
	
	<insert id="save" parameterType="com.bootdo.student.school.pojo.SchoolDO"
		useGeneratedKeys="true" keyProperty="schId">
		insert into sys_school
		(
		`parent_id`,
		`sch_name`
		)
		values
		(
		#{parentId},
		#{schName}
		)
	</insert>
	
	<update id="update" parameterType="com.bootdo.student.school.pojo.SchoolDO">
		update sys_school
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="schName != null">`sch_name` = #{schName} </if>
		</set>
		where sch_id = #{schId}
	</update>
	
	<delete id="remove">
		delete from sys_school where sch_id = #{value}
	</delete>
	
	<select id="listParentSch" resultType="long">
		select DISTINCT parent_id from sys_school
	</select>
	
	<select id="getSchStuNumber" resultType="int">
		select count(*) from sys_stu where sch_id = #{value}
	</select>

</mapper>