<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="stuId" name="stuId" th:value="${stu.stuId}"
								class="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">学号：</label>
								<div class="col-sm-8">
									<input id="stuNo" name="stuNo" th:value="${stu.stuNo}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">姓名：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${stu.name}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">性别:</label>
								<div class="col-sm-8">
									<label class="radio-inline"> 
										<input id="sex" th:field="${stu.sex}" type="radio" name="sex" value="male" />
										男
									</label> 
									<label class="radio-inline"> 
										<input id="sex" th:field="${stu.sex}" type="radio" name="sex" value="female" />
										女
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">年龄：</label>
								<div class="col-sm-8">
									<input id="age" name="age" th:value="${stu.age}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">年级：</label>
								<div class="col-sm-8">
									<select id="grade" name="grade" th:field="${stu.grade}" class="form-control">
									  <option value="">-请选择-</option>
									  <!-- 
										  <option th:selected="${stu.grade}=='1'" value="1">大一</option>
										  <option th:selected="${stu.grade}=='2'" value="2">大二</option>
										  <option th:selected="${stu.grade}=='3'" value="3">大三</option>
										  <option th:selected="${stu.grade}=='4'" value="4">大四</option>
									   -->
									  <option value="1">大一</option>
									  <option value="2">大二</option>
									  <option value="3">大三</option>
									  <option value="4">大四</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">电话号码：</label>
								<div class="col-sm-8">
									<input id="mobile" name="mobile" th:value="${stu.mobile}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">E-mail：</label>
								<div class="col-sm-8">
									<input id="email" name="email" class="form-control" type="email"
										th:value="${stu.email}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">学院：</label>
								<div class="col-sm-8">
									<input id="schId" name="schId" class="hidden" th:value="${stu.schId}">
									 <input id="schName" name="schName"
										class="form-control" type="text" style="cursor: pointer;"
										onclick="openSch()" readonly="readonly" placeholder="所属学院" th:value="${stu.schName}">
								</div>
							</div>
							<input type="hidden" name="courseIds" id="courseIds" th:value="${courseIds}">
							<div class="form-group">
								<label class="col-sm-3 control-label">类别</label>
								<div class="col-sm-8">
									<label th:each="course:${courses}" class="checkbox-inline">
										<input name="course" type="checkbox" th:value="${course.courseId}"
										th:text="${course.courseName}" th:checked="${course.courseSign}">
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/student/student/edit.js">
	</script>
</body>
</html>
